<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee     http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <!-- Application properties config files -->
    <context-param>
        <param-name>appPropertiesConfig</param-name>
        <param-value>classpath:cuba-portal-app.properties
            classpath:portal-app.properties
            /WEB-INF/local.app.properties
            file:${catalina.home}/conf/app-portal/local.app.properties</param-value>
    </context-param>
    <listener>
        <listener-class>com.haulmont.cuba.portal.sys.PortalAppContextLoader</listener-class>
    </listener>
    <!-- Handles all webportal requests into the application -->
    <servlet>
        <servlet-name>portal</servlet-name>
        <servlet-class>com.haulmont.cuba.portal.sys.PortalDispatcherServlet</servlet-class>
        <init-param>
            <param-name>load-on-startup</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>portal</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
