<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Akkount</title>

    <link href="css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="css/jquery-ui.css" media="all" rel="stylesheet" type="text/css" />
    <link href="css/akkount.css" media="all" rel="stylesheet" type="text/css" />

    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/jquery-ui.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>

    <script src="js/main.js"></script>
    <script src="js/router.js"></script>
    <script src="js/cuba-api.js"></script>
    <script src="js/login/login_view.js"></script>
    <script src="js/operation/op_model.js"></script>
    <script src="js/operation/op_table_view.js"></script>
    <script src="js/operation/op_row_view.js"></script>
    <script src="js/account/acc_model.js"></script>
    <script src="js/account/acc_select_view.js"></script>
</head>
<body>
<div id="main">
</div>

<script type="text/template" id="login-template">
    <div id="login-container">
        <form class="form-signin" role="form">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input id="login-name" type="text" class="form-control" placeholder="Login" required autofocus>
            <input id="password" type="password" class="form-control" placeholder="Password" required>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" id="login-button">Sign in</button>
        </form>
        <div id="login-alerts"></div>
    </div>
</script>

<script type="text/template" id="operation-table-template">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Akkount</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#op/new">New Operation</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><p class="navbar-text"><%= login %></p></li>
                    <li><a href="#login">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" id="primary-content">
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Expense</th>
                <th>Income</th>
                <th>Category</th>
                <th>Comments</th>
                <!--<th></th>-->
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>

<script type="text/template" id="operation-row-template">
    <td>
        <a href="#op/<%= id %>/view" class="edit"><% print(app.toDisplayDate(opDate)) %></a>
    </td>
    <td><strong><% print(amount1 != 0 ? amount1 : '') %></strong><br><% print(acc1 ? acc1.name : '') %></td>
    <td><strong><% print(amount2 != 0 ? amount2 : '') %></strong><br><% print(acc2 ? acc2.name : '') %></td>
    <td><% print(category ? category.name : '') %></td>
    <td><%= comments %></td>
    <!--<td>-->
        <!--<a href="#" class="btn btn-primary">edit</a>-->
        <!--<a href="#" class="btn btn-danger delete">delete</a>-->
    <!--</td>-->
</script>

<script type="text/template" id="expense-edit-template">
    <td colspan="5">
        <form>
            <div class="row">
                <div class="col-md-1">
                    <h4>Expense</h4>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-error" style="display:none;"></div>
                    <div class="form-group">
                        <input type="text" class="form-control opDate" placeholder="Date"
                               value="<% print(app.toDisplayDate(opDate)) %>" />
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group account1-container"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control amount1" placeholder="Amount"
                                       value="<%= amount1 %>"/>
                            </div>
                        </div>
                        <div class="col-md-1 currency1"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control comments" rows="3" placeholder="Comments"><%= comments %></textarea>
                    </div>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn-success save" type="submit">Save</a>
                    <a href="#" class="btn cancel">Cancel</a>
                </div>
            </div>
        </form>
    </td>
</script>

<script type="text/template" id="income-edit-template">
    <td colspan="5">
        <form>
            <div class="row">
                <div class="col-md-1">
                    <h4>Income</h4>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-error" style="display:none;"></div>
                    <div class="form-group">
                        <input type="text" class="form-control opDate" placeholder="Date"
                               value="<% print(app.toDisplayDate(opDate)) %>" />
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group account2-container"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control amount2" placeholder="Amount"
                                       value="<%= amount2 %>"/>
                            </div>
                        </div>
                        <div class="col-md-1 currency2"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control comments" rows="3" placeholder="Comments"><%= comments %></textarea>
                    </div>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn-success save" type="submit">Save</a>
                    <a href="#" class="btn cancel">Cancel</a>
                </div>
            </div>
        </form>
    </td>
</script>

<script type="text/template" id="transfer-edit-template">
    <td colspan="5">
        <form>
            <div class="row">
                <div class="col-md-1">
                    <h4>Transfer</h4>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-error" style="display:none;"></div>
                    <div class="form-group">
                        <input type="text" class="form-control opDate" placeholder="Date"
                               value="<% print(app.toDisplayDate(opDate)) %>" />
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group account1-container"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control amount1" placeholder="Amount"
                                       value="<%= amount1 %>"/>
                            </div>
                        </div>
                        <div class="col-md-1 currency1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group account2-container"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control amount2" placeholder="Amount"
                                       value="<%= amount2 %>"/>
                            </div>
                        </div>
                        <div class="col-md-1 currency2"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control comments" rows="3" placeholder="Comments"><%= comments %></textarea>
                    </div>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn-success save" type="submit">Save</a>
                    <a href="#" class="btn cancel">Cancel</a>
                </div>
            </div>
        </form>
    </td>
</script>

<script type="text/template" id="account-select-template">
    <% _(accounts).each(function(acc) { %>
        <option value="<%= acc.id %>"><%= acc.name %></option>
    <% }); %>
</script>

</body>
</html>