<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Akkount</title>

    <link href="css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="css/jquery-ui.css" media="all" rel="stylesheet" type="text/css" />
    <link href="css/akkount.css" media="all" rel="stylesheet" type="text/css" />

    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/jquery-ui.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>

    <script src="js/main.js"></script>
    <script src="js/router.js"></script>
    <script src="js/cuba-api.js"></script>
    <script src="js/login/login_view.js"></script>
    <script src="js/operation/op_model.js"></script>
    <script src="js/operation/op_table_view.js"></script>
    <script src="js/operation/op_row_view.js"></script>
    <script src="js/account/acc_model.js"></script>
    <script src="js/account/acc_select_view.js"></script>
    <script src="js/category/cat_model.js"></script>
    <script src="js/category/cat_select_view.js"></script>
    <script src="js/balance/balance_view.js"></script>
</head>
<body>
<div id="main">
</div>

<div id="balance-dialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Balance</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="login-template">
    <div id="login-container">
        <form class="form-signin" role="form">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input id="login-name" type="text" class="form-control" placeholder="Login" required>
            <input id="password" type="password" class="form-control" placeholder="Password" required>
            <label class="checkbox">
                <input id="remember-me" type="checkbox">Remember my name
            </label>
            <button class="btn btn-lg btn-primary btn-block" id="login-button">Sign in</button>
        </form>
        <div id="login-alerts"></div>
    </div>
</script>

<script type="text/template" id="operation-table-template">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#op/expense">Expense</a></li>
                    <li><a href="#op/income">Income</a></li>
                    <li><a href="#op/transfer">Transfer</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#balance-dialog">Balance</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><p class="navbar-text"><%= login %></p></li>
                    <li><a href="#login">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" id="primary-content">
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Expense</th>
                <th>Income</th>
                <th>Category</th>
                <th>Comments</th>
                <th></th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div id="op-alerts"></div>
</script>

<script type="text/template" id="operation-row-template">
    <td>
        <a href="#op/<%= id %>/view" class="edit"><% print(app.toDisplayDate(opDate)) %><br>
        <% print(app.weekDay(opDate)) %></a>
    </td>
    <td><strong><% print(amount1 != 0 ? amount1 : '') %></strong><br><% print(acc1 ? acc1.name : '') %></td>
    <td><strong><% print(amount2 != 0 ? amount2 : '') %></strong><br><% print(acc2 ? acc2.name : '') %></td>
    <td><% print(category ? category.name : '') %></td>
    <td><%= comments %></td>
    <td class="delete-cell">
        <a href="#" class="btn btn-default confirm-delete">&times;</a>
    </td>
</script>

<script type="text/template" id="expense-edit-template">
    <td colspan="5">
        <form>
            <div class="row">
                <div class="col-md-2">
                    <h4>Expense</h4>
                </div>
                <div class="col-md-6 col-sm-9">
                    <div class="alert alert-error" style="display:none;"></div>
                    <div class="form-group">
                        <input type="text" class="form-control opDate" placeholder="Date"
                               value="<% print(app.toDisplayDate(opDate)) %>" />
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <div class="form-group account1-container"></div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <input type="text" class="form-control amount1 calc" placeholder="Amount"
                                       value="<% print(amount1 ? amount1 : '') %>"/>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1 currency1"></div>
                    </div>
                    <div class="form-group category-container"></div>
                    <div class="form-group">
                        <textarea class="form-control comments" rows="3" placeholder="Comments"><%= comments %></textarea>
                    </div>
                </div>
                <div class="col-md-4 col-sm-3">
                    <a href="#" class="btn btn-success save" type="submit">Save</a>
                    <a href="#" class="btn cancel">Cancel</a>
                </div>
            </div>
        </form>
    </td>
</script>

<script type="text/template" id="income-edit-template">
    <td colspan="5">
        <form>
            <div class="row">
                <div class="col-md-2">
                    <h4>Income</h4>
                </div>
                <div class="col-md-6 col-sm-9">
                    <div class="alert alert-error" style="display:none;"></div>
                    <div class="form-group">
                        <input type="text" class="form-control opDate" placeholder="Date"
                               value="<% print(app.toDisplayDate(opDate)) %>" />
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <div class="form-group account2-container"></div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <input type="text" class="form-control amount2 calc" placeholder="Amount"
                                       value="<% print(amount2 ? amount2 : '') %>"/>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1 currency2"></div>
                    </div>
                    <div class="form-group category-container"></div>
                    <div class="form-group">
                        <textarea class="form-control comments" rows="3" placeholder="Comments"><%= comments %></textarea>
                    </div>
                </div>
                <div class="col-md-4 col-sm-3">
                    <a href="#" class="btn btn-success save" type="submit">Save</a>
                    <a href="#" class="btn cancel">Cancel</a>
                </div>
            </div>
        </form>
    </td>
</script>

<script type="text/template" id="transfer-edit-template">
    <td colspan="5">
        <form>
            <div class="row">
                <div class="col-md-2">
                    <h4>Transfer</h4>
                </div>
                <div class="col-md-6 col-sm-9">
                    <div class="alert alert-error" style="display:none;"></div>
                    <div class="form-group">
                        <input type="text" class="form-control opDate" placeholder="Date"
                               value="<% print(app.toDisplayDate(opDate)) %>" />
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <div class="form-group account1-container"></div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <input type="text" class="form-control amount1 calc" placeholder="Amount"
                                       value="<% print(amount1 ? amount1 : '') %>"/>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1 currency1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-5">
                            <div class="form-group account2-container"></div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <input type="text" class="form-control amount2 calc" placeholder="Amount"
                                       value="<% print(amount2 ? amount2 : '') %>"/>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1 currency2"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control comments" rows="3" placeholder="Comments"><%= comments %></textarea>
                    </div>
                </div>
                <div class="col-md-4 col-sm-3">
                    <a href="#" class="btn btn-success save" type="submit">Save</a>
                    <a href="#" class="btn cancel">Cancel</a>
                </div>
            </div>
        </form>
    </td>
</script>

<script type="text/template" id="account-select-template">
    <% _(accounts).each(function(acc) { %>
        <option value="<%= acc.id %>"><%= acc.name %></option>
    <% }); %>
</script>

<script type="text/template" id="category-select-template">
    <option value=""></option>
    <% _(categories).each(function(cat) { %>
        <option value="<%= cat.id %>"><%= cat.name %></option>
    <% }); %>
</script>

<script type="text/template" id="operation-delete-template">
    <td colspan="5"></td>
    <td>
        <a href="#" class="delete btn btn-danger btn-small">Delete</a>
        <a href="#" class="btn cancel">Cancel</a>
    </td>
</script>

<script type="text/template" id="balance-template">
    <table class="balance-table">
        <% _(balance.totals).each(function(total) { %>
        <tr><td></td><td class="amount total"><%= total.amount %></td><td class="total"><%= total.currency %></td></tr>
        <% }); %>
        <tr><td colspan="3"><hr/></td></tr>
        <% _(balance.includedAccounts).each(function(acc) { %>
        <tr><td><%= acc.name%></td><td class="amount"><%= acc.amount %></td><td><%= acc.currency %></td></tr>
        <% }); %>
        <tr><td colspan="3"><hr/></td></tr>
        <% _(balance.excludedAccounts).each(function(acc) { %>
        <tr><td><%= acc.name%></td><td class="amount"><%= acc.amount %></td><td><%= acc.currency %></td></tr>
        <% }); %>
    </table>
</script>

</body>
</html>